<!DOCTYPE html>
<html>
<head>
    <title>Sort Names</title>
</head>
<body>
    <form method="POST">
<textarea name="names" rows="16" cols="64" placeholder="">
Pepa Přeskoč
Karel Klíč
Jana Jahoda
Václav Včela
Marta Marmeláda
Pavel Pomeranč
Berta Banán
Ondřej Okurka
Dana Dýně
Emil Eukalyptus
František Fazole
Gabriela Grapefruit
Helena Hruška
Igor Ibišek
Julie Jablko
Kamil Kiwi</textarea>
        <button type="submit">Sort Names</button>
        <textarea name="sorted_names" rows="24" cols="64" readonly>{{ sorted_names }}</textarea>
    </form>
</body>
</html>